h1 {text-align: center;}
span {text-align: center;}
div {text-align: center;}
body {
    background-color: #e2e2e2;
}
.btn{
    font-size:50px;
    background-color: #0D6CBE;
    color:white;
    padding: 8px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 10px;
    margin:10px;
    cursor: pointer;
}
.whitebackgroud{
    background-color: #ffffff;
    padding-top: 40px;
    margin-block-start: 100px;
    margin-inline-start: 650px;
    margin-inline-end: 650px;
    border-radius: 5px;
    padding-bottom: 40px;
}
.text{
    margin-top:50px;
    padding:15px;
    color:black;
    font-weight:bold;
    font-size:50px;
    padding-left:30px
}